@import "tailwindcss";

@theme {
  --color-primary: #299D91;
  --color-defaultBlack: #1F222A;
  --color-special-bg: #272B34;
  --color-special-bg2: #343C48;
  --color-special-bg3: #3A4453;
  --color-special-red: #FF4B4A;
  --color-special-green: #00A86B;
  --color-special-mainBg: #F5F7FA;
  --color-gray-01: #8BA3CB;
  --color-gray-02: #8492A6;
  --color-gray-03: #718096;
  --color-gray-04: #C0CCDA;
  --color-gray-05: #D3DCE6;

  --font-family-body: Inter, system-ui, sans-serif;
}

.theme-green {
  --color-primary: #299D91;
}
.theme-blue {
  --color-primary: #1E90FF;
}
.theme-purple {
  --color-primary: #6A5ACD;
}
.theme-pink {
  --color-primary: #DB7093;
}
.theme-champagne {
  --color-primary: #C6A664;
}

/* ==========================
   DARK MODE
========================== */

.dark {
    background: #2f2f2f;
    color: #ffffff;
}

.dark main {
    background: #2f2f2f;
}

.dark header {
    background: #333333;
    color: white;
    border-color: #555;
}

.dark input {
    background: #3b3b3b;
    color: white;
    border-color: #666;
}

.dark input::placeholder {
    color: #bdbdbd;
}

/* ==========================
   DARK MODE OVERRIDE
========================== */

.dark .bg-white {
  background: #3a3a3a !important;
}

.dark .text-gray-01 {
  color: #d0d5dc !important;
}

.dark .text-gray-02 {
  color: #ffffff !important;
}

.dark .text-gray-03 {
  color: #bfbfbf !important;
}

.dark .border-gray-05 {
  border-color: #565656 !important;
}

.dark .shadow-xl,
.dark .shadow-lg,
.dark .shadow-md {
  box-shadow: none !important;
}

